name: terraform plan and apply

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Plan and tfe apply
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform/Junior

    env:
      TF_TOKEN_app_terraform_io: ${{ secrets.TFE_API_TOKEN }}  # Terraform Cloud API token

    steps:
      - name: repo checkout
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform plan
        if: github.event_name == 'pull_request'
        run: terraform plan

      - name: tfe apply
        if : github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve